<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelusa chat</title>
</head>
<body>
    <h3>Welcome to pelusa chat!</h3>
    <hr>
    <div>
        <h4>Enter to chat room:</h4>
        <form action="">
            <div>
                <label for="nick">Nickname:</label>
                <input type="text" name="nick" id="nick" required>
            </div>
            <br>
            <div>
                <button>Go to chat</button>
            </div>
        </form>
    </div>
</body>

<script>
    
</script>

</html>