<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelusa chat</title>
</head>
<body>
    <div>Welcome to chat room!</div>

    <label for="message_content">Mensaje</label>
    <input id="message_content" type="text">
    <label for="destination">Destination</label>
    <input id="destination" type="text">

    <button id="sendTest">Send test message!</button>

    <div id="messages"></div>
</body>

<script>
    console.log("{{ .nick }}")
    registerUrl = "ws://localhost:3000/ws/register/{{ .nick }}"
    conn = new WebSocket(registerUrl);

    $("#sendTest").click(
        () => {
            defaultTestMessage = {
                "id_origin": null,
                "id_destination": $("#destination").val(),
                "content": $("#message_content").val(),
            }
            $("#messages").append("<p>" + defaultTestMessage.content + " ----------> Sent\n</p>")
            conn.send(JSON.stringify(defaultTestMessage))
            console.log(defaultTestMessage)
            console.log(JSON.stringify(defaultTestMessage))
        }
    )

    conn.onmessage = (msg) => {
        console.log(msg)
        $("#messages").append("<p>" +msg.data + " <--------- Received\n</p>")
    }
</script>
</html>